/* .cocacola{
display: block;
width:100px;
height:200px;
background-color: aquamarine;

    
}
.orey{
    display: block;
width:100px;
height:1000px;
background-color: aquamarine;
} */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.container{
    display:flex;
    position: relative;
    z-index: 1;
    flex-direction: column;
    /* width: 100%; */
    /* height:100%; */
 

}
/* .sub-container{
    
    height: 100vh;
    min-height: 750px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    z-index:-1;
} */

.main{
    display: flex;
    background-color: #10151c;
    width:100%;
    height:18px;
    padding: 4px 0px;
    justify-content: space-between;
   
}
.tele{
    display: flex;
    color: aliceblue;
    font:10px "Nunito sans",Arial,sans-serif;
    margin-left:20px;
  
}

.tele p{
    color:#ff414d;
}

.all ul{
    display: flex;
 
}
ul li{
    color:#999999;
    margin: 0px 15px 0px 0px ;
    padding: 0px 0px 0px 4px ;
    font:9px "Nunito sans",Arial,sans-serif;
}
ul li a{
    text-decoration: none;
    color:#999999; ;
}
.wrap{
    position: relative;
    display: flex;
    justify-content:space-evenly;
    margin-top:3%;
 }
.win{
    display: none;
}
 .sidebar{
    position: absolute;
    /* display: none; */
    top: 30px;
    left: 0px;
    width: 100%;
    height: 200px;
    background-color:rgb(98, 88, 88);
    transform: translateY(-200%);
    transition: all .4s ease-in-out;
 }
 .sidebar .open{
    display: grid;
    margin: 20px;
    gap:20px;
    
 }
 .sidebar .open li a{
    color:white;
    font:15px "Nunito sans",Arial,sans-serif
 }
 .sidebar .open li a:hover{
    color: #ff414d;
 }

.logo{
    /* color:whitesmoke; */
    font:17px "Nunito sans",Arial,sans-serif;
    color:white;

}
.oo{
    font:19px "Nunito sans",Arial,sans-serif;
    color:blueviolet
}
.wrap ul{
    display: flex;
   
 
}

.win{
    color:white;
    
}
 .wrap ul li{
    color:#999999;
    margin: 0px 15px 0px 0px ;
    padding: 0px 0px 0px 4px ;
    font:15px "Nunito sans",Arial,sans-serif;
    list-style: none;
}
.btn{
    padding: 5px;
    font-size: 14px;
    background-color: #ff414d;
    border-radius:5px;
    border: none;
    outline: none;
    margin-left: -2%;
    margin-top: -1%;
    color: white;
}
.over{
    display: flex;
    gap:30px;
}
section{
  position: relative;
   background-image: url("../images/bg_1.jpg.webp");
   height: 100vh    ;
   min-height: 550px;
   position: relative;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;
   z-index:1;
   width:100%;

}
section::after{
    content:"";
    contain: "";
    width: 100%;
    height: 100%;
    background-color:black;
    opacity: .4;
    top: 0px;
    left:0px;
    position: absolute;
}
.sub-container{
    position: relative;
    z-index:1;
}


@media(max-width:480px){
    .over ul li{
      display:none;
    }
    .checkbtn {
        display: block;

    }

.btn{
    padding: 2px;
    font-size:10px;
    background-color: #ff414d;
    border-radius:3px;
    border: none;
    outline: none;
    margin-left: -2%;
    margin-top: -1%;
    color: white;
}
}

@media(max-width:480px){
    .win{
        display: block;
    }
}